<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="ea3b4df9-4eff-4594-9490-2a423992afec" name="BankinAPpTestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="ea3b4df9-4eff-4594-9490-2a423992afecfileName">BankinAPpTestSuite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
